@(usr:UserAccount)
@import helper._
@import helper.twitterBootstrap._
@main("Thông Tin Tài Khoản") {
<div class="container">
	<div class="row">
		
		<div class="col-md-3">
			@sidebar()
		</div>

		<div class="col-md-6">
			<div class="panel panel-primary">     
		        <div class="panel-heading">
		            <h3><strong>Thông Tin Học Viên</strong></h3>
		        </div>
		     
			    <div class="panel-body">
					<p>Name: @usr.name</p>
					<p>E-mail: @usr.email</p>
					<p>Address: @usr.address</p>
					<p>Date of birth: @usr.dateofbirth</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">     
		        <div class="panel-heading">
		            <strong>Chức Năng</strong>
		        </div>
		     
			    <div class="panel-body">
			    	 <li>
                		<a href="@routes.UserCP.edit">Cập Nhật Thông Tin</a>
		            </li>
		            <li>
		                <a href="#">2</a>
		            </li>
		            <li>
		                <a href="#">3</a>
		            </li>
			    </div>
			</div>
		</div>
</div>
}