@(currentPage: com.avaje.ebean.Page[UserAccount])
@import helper._
@import helper.twitterBootstrap._
@main("Danh sách tài khoản") {  
  
  <script>
  function del(urlToDelete) {
    $.ajax ( {
      url : urlToDelete,
      type : 'DELETE',
      success : function ( results ) {
        // Refresh the page
        location.reload ( ) ;
      }
    } ) ;
  }
  </script>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div>
          @sidebar()        
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-primary">
        
          <div class="panel-heading">
              <strong><h2>Danh sách các tài khoản</h2></strong>
          </div>
          
          <div class="panel-body">
         
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Tên</th>
                  <th>Email</th>
                  <th>Ngày Sinh</th>
                  <th>Chỉnh Sửa</th>
                  <th>Xóa</th>
                </tr>
              </thead>
              
              <tbody>
                <div id="pagination" class="pagination">
                  @if(currentPage.hasPrev) {
                    <li>
                      <a href="@routes.UserCP.list(currentPage.getPageIndex - 1)">
                        &larr;
                      </a>
                    </li>
                  } else {
                    <li class="disabled"><a>&larr;</a></li>
                  }
                    <li class="active">
                      <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
                    </li>
                   @if(currentPage.hasNext) {
                     <li>
                      <a href="@routes.UserCP.list(currentPage.getPageIndex + 1)">&rarr;</a>
                     </li>
                   } else {
                     <li class="disabled"><a>&rarr;</a></li>
                   }
                </div>
         @for(taikhoan <- currentPage.getList()) {
          <tr>
            <td>
              <a href="@routes.UserCP.details(taikhoan.id)">
                @taikhoan.name
              </a>
            </td>
            
            <td>@taikhoan.email</td>
            <td>@taikhoan.dateofbirth</td>
            
            <td>
              <a href="@routes.UserCP.edit()">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
            </td>

            <td>
              <a onclick="del('@routes.UserCP.delete(taikhoan.id)')">
              <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        }      
        </tbody>
       </table>
      </div>

    </div>
     
  </div>
  </div>
</div>
}