@()
@import helper._
@import helper.twitterBootstrap._
@main("Trang cá nhân") {  
  
  <script>
  function del(urlToDelete) {
    $.ajax ( {
      url : urlToDelete,
      type : 'DELETE',
      success : function ( results ) {
        // Refresh the page
        location.reload ( ) ;
      }
    } ) ;
  }
  </script>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          @sidebar()  

      </div>
      <div class="col-md-9">
        <div class="panel panel-primary">
        
          <div class="panel-heading">
              <h3>HƯỚNG DẪN - GHI CHÚ</h3>
          </div>
          
          	<div class="panel-body">
          	<h4>Note</h4>
            <textarea class="form-control" rows="3"></textarea>
      		</div>

    </div>
    
  </div>
  </div>
</div>
}