@(userForm: Form[UserAccount])
@import helper._
@import helper.twitterBootstrap._
@main("Tạo tài khoản") {

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div>
          @sidebar()        
        </div>
      </div>
      
      <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <strong><h2>Đăng ký</h2></strong>
          </div>    
          <div class="panel-body">
          @helper.form(routes.UserCP.save()) {
            <fieldset>
               <legend>Tài khoản mới</legend>
        		@helper.inputText(userForm("email"), '_label -> "Email")
        		@helper.inputText(userForm("name"), '_label -> "Tên")
        		@helper.inputText(userForm("password"), '_label -> "Mật khẩu")
        		@helper.inputText(userForm("type"), '_label -> "Loại TK(admin[1], giáo viên [2], sinh viên[3])")
        		@helper.inputText(userForm("address"), '_label -> "Địa chỉ")
        		@helper.inputText(userForm("dateofbirth"), '_label -> "Ngày sinh")
        		@CSRF.formField
            </fieldset>

            <input type="submit" class="btn btn-primary" value="Lưu">

            <a class="btn btn-warning" href="@routes.UserCP.personal()">Hủy</a>
          }
          </div>
        </div>
      </div>
    </div>
  </div>

}