@()
<div class="panel panel-primary">
    <table class="table">
    
      <tbody>
        <tr class="active">
          <th scope="row">1</th>
          <td><a href="@routes.UserCP.edit()">Cập nhật thông tin</a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><a href="@routes.UserCP.list()">Danh sách tài khoản</a></td>
        </tr>
         @if(session.get("type")=="1"){
        <tr class="success">
          <th scope="row">3</th>
          <td><a href="@routes.UserCP.Register()">Thêm tài khoản</a></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><a href="@routes.UserCP.Register()">Xóa tài khoản</a></td>
        </tr>
        <tr class="info">
          <th scope="row">5</th>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Column content</td>
        </tr>
        }
         @if(session.get("type")=="2"){
         <tr class="success">
          <th scope="row">3</th>
          <td>Danh sách luận văn</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Danh sách học viên</td>
        </tr>
        <tr class="info">
          <th scope="row">5</th>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Column content</td>
        </tr>
         }
         @if(session.get("type")=="3"){
         <tr class="success">
          <th scope="row">3</th>
          <td>Dach sách giáo viên</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Thông tin đề tài các luận văn</td>
        </tr>
        <tr class="info">
          <th scope="row">5</th>
          <td>Quản lý luận văn</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Column content</td>
        </tr>
         }
      </tbody>
    </table>
  </div>