@(userForm: Form[UserAccount])
@import helper._
@import helper.twitterBootstrap._
@main("Cập nhật thông tin cá nhân") {

<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div>
          @sidebar()        
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-primary">
        
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-6">
                
              </div>
              <div class="col-md-offset-1">
                <h2>Thông tin cá nhân của: @userForm("email").valueOr("User")</h2>
              </div>
            </div>
          </div>
          
          <div class="panel-body"> 
            @helper.form(routes.UserCP.save()) {


              <fieldset>
          	    <div style="display: none"> @helper.inputText(userForm("id"), '_label -> "id")</div>
          	    <div style="display: none"> @helper.inputText(userForm("email"), '_label -> "Email")</div>
            		@helper.inputText(userForm("name"), '_label -> "Name")
            		@helper.inputText(userForm("password"), '_label -> "Password")
            		@helper.inputText(userForm("address"), '_label -> "Address")
            		@helper.inputText(userForm("dateofbirth"), '_label -> "Date of birth")
            		@CSRF.formField
              </fieldset>

              <input type="submit" class="btn btn-primary" value="Lưu">

              <a class="btn btn-warning" href="@routes.UserCP.personal()">Hủy</a>

            }
          </div>
        </div>
      </div>
    </div>
  </div>
}