@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._
@main("Hệ Thống Quản Lí Luận Văn Cao Học") {
@helper.form(helper.CSRF(routes.Application.authenticate)) {
 
    <div class="container">
      <div class="row">	
        <div class="panel panel-info">
          <div class="panel-heading">
            <h1>
              <img src="assets/images/uet.png">
              <strong>Hệ Thống Quản Lí Luận Văn Cao Học</strong>
            </h1>
          </div>
        </div>
        
      <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
                <strong>Thông tin</strong>
          </div>
          <div class="panel-body">
            
              
               <h5>
                <ul>
                  <li>Đây là trang web quản lí luận văn cao học. </li>
                  <li>Sinh có thể đăng kí và đăng bài luận văn tại đây.</li>
                  <li>Giáo viên có quyền xem đánh giá chấm điểm luận văn của học viên.</li>
                </ul>
              </h5>
              <p><a class="btn btn-primary btn-md" href="http://www.uet.vnu.edu.vn" role="button">Tìm hiểu thêm   &raquo;</a></p>

              <h3>Thông báo</h3>
              
              <h5>
                <ul>
                  <li>Sinh viên đã tốt nghiệp xem kết quả học tập tại: 
                      <a href="http://www.svtotnghiep.daotao.vnu.edu.vn">http://svtotnghiep.daotao.vnu.edu.vn</a> 
                  </li>

                  <li>Sinh viên đăng kí môn học tại: 
                      <a href="http://www.dangkyhoc.daotao.vnu.edu.vn">http://dangkyhoc.daotao.vnu.edu.vn</a> 
                  </li>

                  <li>Sinh viên xem kết quả học tập tại: 
                      <a href="http://www.daotao.vnu.edu.vn">http://daotao.vnu.edu.vn</a> 
                  </li>
				  
                  <li>Sinh viên có thể xem thông tin của trường tại : 
                      <a href="http://www.uet.vnu.edu.vn">http://uet.vnu.edu.vn</a> 
                  </li>

                </ul>
              </h5>
              </div>
          </div>
          </div>
       <!--Phan thong tin-->
		
 <div class="col-md-3">
 <div class="panel panel-primary">
   @if(session.get("email") == null) {
	    <div class="panel-heading">
	        <strong>Đăng Nhập</strong>  
	    </div>
	    <div class="panel-body">
	        <form role="form">
	            <br />
	            <div class="form-group input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	                    <input class="form-control" type="text" name="email" placeholder="Email" value="@loginForm("email").value" />
	            </div>
	            <div class="form-group input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                    <input class="form-control"  type="password" name="password" placeholder="Password" />
	            </div>
	            <div class="form-group">
	                    <label class="checkbox-inline">
	                        <input type="checkbox" />Duy trì đăng nhập
	                    </label>
	            </div>
	             @CSRF.formField
	             <input type="submit" value="Đăng Nhập" class="btn btn-primary" />
	            </form>
	       </div>
	       }
	         @if(session.get("email") != null) {
	         	    <div class="panel-heading">
	        <strong>Thông tin</strong>  
	    </div>
	    <div class="panel-body">
	     Xin chào!   
	     </div>
	     }
	   </div>
</div>
</div>
</div>
 <!-- Login-->
     <!-- Phan thong tin trang-->
<div class="container">
    <footer>
			<p>Cổng thông tin đào tạo đại học quốc gia hà nội- phát triển bởi trung tâm ứng dụng CNTT</p>
			<p>144 đường Xuân Thủy, quận Cầu Giaý, Việt Nam </p>
    </footer> <!--Phan address-->
</div>
	}
}