@()
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span class="navbar-brand">HTQLLV</span>
      
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="@routes.Application.login()">Trang Chủ
        <span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="@routes.UserCP.personal()">Trang Cá Nhân
        <span class="glyphicon glyphicon-user"></span></a></li>
        <li><a href="#contact">Liên Hệ
        <span class="glyphicon glyphicon-list-alt"></span></a></li>
        <li>
          <div class="nav search-row" id="top_menu">
                        <!--  search form start -->
                        <ul class="nav top-menu">                    
                            <li>
                                <form class="navbar-form">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <input class="form-control" placeholder="Tìm Kiếm...." type="text">
                                </form>
                            </li>                    
                        </ul>
                        <!--  search form end -->                
                    </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

            @if(session.get("email") == null) {

                <li><a href="@routes.Application.login()">

                   <span class="glyphicon glyphicon-log-in"></span>

                </a></li>               

            } else {

                <li><a href="">@session.get("email")</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>

            }

        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>